@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root[data-theme="Latte"]{
        --rosewater: 11deg, 59%, 67%;
        --flamingo: 0deg, 60%, 67%;
        --pink: 316deg, 73%, 69%;
        --mauve: 266deg, 85%, 58%;
        --red: 347deg, 87%, 44%;
        --maroon: 355deg, 76%, 59%;
        --peach: 22deg, 99%, 52%;
        --yellow: 35deg, 77%, 49%;
        --green: 109deg, 58%, 40%; 
        --teal: 183deg, 74%, 35%;
        --sky: 197deg, 97%, 46%;
        --sapphire: 189deg, 70%, 42%;
        --blue: 220deg, 91%, 54%;
        --lavendar: 231deg, 97%, 72%;
        --text: 234deg, 16%, 35%;
        --subtext1: 233deg, 13%, 41%;
        --subtext0: 233deg, 10%, 47%;
        --overlay2: 232deg, 10%, 53%;
        --overlay1: 231deg, 10%, 59%;
        --overlay0: 228deg, 11%, 65%;
        --surface2: 227deg, 12%, 71%;
        --surface1: 225deg, 14%, 77%;
        --surface0: 223deg, 16%, 83%;
        --base: 220deg, 23%, 95%;
        --mantle: 220deg, 22%, 92%; 
        --crust: 220deg, 21%, 89%;
    }

    :root[data-theme="Frappe"]{
        --rosewater: 10deg, 57%, 88%§;
        --flamingo: 0deg, 59%, 84%;
        --pink: 316deg, 73%, 84%;
        --mauve: 277deg, 59%, 76%;
        --red: 359deg, 68%, 71%;
        --maroon: 358deg, 66%, 76%;
        --peach: 20deg, 79%, 70%;
        --yellow: 40deg, 62%, 73%;
        --green: 96deg, 44%, 68%;
        --teal: 172deg, 39%, 65%;
        --sky: 189deg, 48%, 73%;
        --sapphire: 199deg, 55%, 69%;
        --blue: 222deg, 74%, 74%;
        --lavendar: 239deg, 66%, 84%;
        --text: 227deg, 70%, 87%;
        --subtext1: 227deg, 44%, 80%;
        --subtext0: 228deg, 29%, 73%;
        --overlay2: 228deg, 22%, 66%;
        --overlay1: 227deg, 17%, 58%;
        --overlay0: 229deg, 13%, 52%;
        --surface2: 228deg, 13%, 44%;
        --surface1: 227deg, 15%, 37%;
        --surface0: 230deg, 16%, 30%;
        --base: 229deg, 19%, 23%;
        --mantle: 231deg, 19%, 20%;
        --crust: 229deg, 20%, 17%;
    }

    :root[data-theme="Macchiato"]{
        --rosewater: 10deg, 58%, 90%;
        --flamingo: 0deg, 58%, 86%;
        --pink: 316deg, 74%, 85%;
        --mauve: 267deg, 83%, 80%;
        --red: 351deg, 74%, 73%;
        --maroon: 355deg, 71%, 77%;
        --peach: 21deg, 86%, 73%;
        --yellow: 40deg, 70%, 78%;
        --green: 105deg, 48%, 72%; 
        --teal: 171deg, 47%, 69%;
        --sky: 189deg, 59%, 73%;
        --sapphire: 199deg, 66%, 69%;
        --blue: 220deg, 83%, 75%;
        --lavendar: 234deg, 82%, 85%;
        --text: 227deg, 68%, 88%;
        --subtext1: 228deg, 39%, 80%;
        --subtext0: 227deg, 27%, 72%;
        --overlay2: 228deg, 20%, 65%;
        --overlay1: 228deg, 15%, 57%;
        --overlay0: 230deg, 12%, 49%;
        --surface2: 230deg, 14%, 41%;
        --surface1: 231deg, 16%, 34%;
        --surface0: 230deg, 19%, 26%;
        --base: 232deg, 23%, 18%;
        --mantle: 233deg, 23%, 15%;
        --crust: 236deg, 23%, 12%;
    }

    :root[data-theme="mocha"]{
        --rosewater: 10deg, 56%, 91%;
        --flamingo: 0deg, 59%, 88%;
        --pink: 316deg, 72%, 86%;
        --mauve: 267deg, 84%, 81%;
        --red: 343deg, 81%, 75%;
        --maroon: 350deg, 65%, 77%;
        --peach: 23deg, 92%, 75%;
        --yellow: 41deg, 86%, 83%;
        --green: 115deg, 54%, 76%;
        --teal: 170deg, 57%, 73%;
        --sky: 189deg, 71%, 73%;
        --sapphire: 199deg, 76%, 69%;
        --blue: 217deg, 92%, 76%;
        --lavendar: 232deg, 97%, 85%;
        --text: 226deg, 64%, 88%;
        --subtext1: 227deg, 35%, 80%;
        --subtext0: 228deg, 24%, 72%;
        --overlay2: 228deg, 17%, 64%;
        --overlay1: 230deg, 13%, 55%;
        --overlay0: 231deg, 11%, 47%;
        --surface2: 233deg, 12%, 39%;
        --surface1: 234deg, 13%, 31%;
        --surface0: 237deg, 16%, 23%;
        --base: 240deg, 21%, 15%;
        --mantle: 240deg, 21%, 12%;
        --crust: 240deg, 23%, 9%;
    }
}
